<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }} - {{ site.data.profile.navbar_name }}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ '/assets/css/global.css' | relative_url }}">
</head>

<body class="bg-light" {{ page.body_attr }}>
    {% include navbar.html %}

    <div class="{% if page.container_class %}{{ page.container_class }}{% else %}container-lg{% endif %} py-4">
        <article class="blog-post">
            <!-- Blog Post Header -->
            <header class="mb-4">
                <h1 class="text-center">{{ page.title }}</h1>
                <p class="text-center text-muted">
                    {% if page.authors %}
                        By {{ page.authors | join: ", " }}
                    {% endif %}
                    | {{ page.date | date: "%B %d, %Y" }}
                </p>
                <hr>
            </header>

            <!-- Blog Content -->
            <div class="post-content">
                {{ content }}
            </div>
        </article>
    </div>

    {% include footer.html %}

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
